/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Oswald', sans-serif;
   font-size: 100%;
   background:#fff; 
}
/*--header start here--*/
.header{
	      background-repeat:no-repeat;
	     min-height:590px;
	     background-size:cover;
	     -webkit-background-size:cover;
	     -moz-background-size:cover;
	     -o-background-size:cover;
	     -ms-background-size:cover;
}
.logo{
	     float:left;
	     width:50%;
}
.logo-w {
	float: left;
	width: 50%;`
}
.logo img {
	margin-top: 10px;
}
.logo-w img {
	margin-top: 1.8em;
}
.header-right{
	     float:right;
	     width:50%;
	     padding-top:1em;
         text-align: right;
}
span.menu img{
	       display:none;
}
.header-right ul{
        margin: 0;
       padding: 0px;
}
.header-right li{
	         list-style:none;
	         display:inline-block;
	         margin: 10px 10px 0px 0px;
}
.header-right ul li a{
	color: #FFFEFE;
	font-weight: bold;
} 
.header-right ul li a:hover,.header-right ul li a.active{
   color:#AB9797;
   text-decoration:none;
   transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
h1{
    font-size:2.4em;
    font-weight:700;
	text-align:center;
	padding-top:5em;
	color:#fff;
}
span.a{ 
      background:url(../images/paradot.png)no-repeat;
      display:block;
      width:51px;
      height:7px;
      margin:0 auto;	
}
/*--work start here--*/
.work{
	padding:4em 0;
}
.work-row{}
.work-column{
	position:relative;
}
.caption{
	display: none;
	position:absolute;
	top:0;
	width:360px;
	height:100%;
	background:rgba(0, 0, 0, 0.62);
}
.text {
  color: #fff;
  text-align: center;
  padding-top: 7em;
}
.text h3{
     font-size: 1.5em;
     font-weight: 300;
}
.text p{
     font-size: 13px;
     font-weight: 300;
}
.text.big {
     padding-top: 19em;
}
.work-column:hover div.caption{
	display: block;
	 transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.capt{
	width:748px;
}
.car{
	height:734px;
}
.work-row1{
	margin-top:1.5em;
}
.cat-row {
	text-align: center;
	margin: 1.5em 0;
}
.cat-row img {
	width: 96%;
	height:351px;
}
.caption.cat{
	width:748px;
	height:351px;
	margin-left:16px;
}
.image-top p {
	text-align: justify;
	padding: 2% 0;
	font-weight: 100;
	font-size: 14px;
}
/*--work ends here--*/
/*--contact style start here--*/
.contact{
	   background-color:#FAFAFD;
	   padding: 2em 0px ;
}
.contact-main h3{
	       font-size:3em;
	       font-weight:300;
}
.contact-left h3{
         font-size:1.3em;
         font-weight:700;
         padding:1em 0px;
          font-family: 'Oswald', sans-serif;
}
.contact-left h4{
         font-size:1.3em;
         font-weight:700;
         padding:1em 0px;
          font-family: 'Oswald', sans-serif;
}
.contact-left h5{
         font-size:1.2em;
         font-weight:700;
         padding:1em 0px;
          font-family: 'Oswald', sans-serif;
}
.contact-left p{
         font-size:1em;
         font-weight:100;
          font-family: 'Oswald', sans-serif;
          margin-bottom:10px;
}
.contact-left p a{
	color:deepskyblue;
}
.contact-left p a:hover{
	text-decoration:none;
	color:#777;
	 transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.contact-left ul {
       list-style: none;
       padding:0px;
}
.contact-left ul li {
      padding:7px 0px;
}
.contact-left ul li a:hover{
       color:deepskyblue;
       text-decoration: none;
        transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.contact-left input[type="text"] {
        width: 80%;
        padding: 12px;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
        outline:none;
        position:relative;
}
.contact-left textarea{
	    width: 80%;
        height: 8em;
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        outline:none;
        resize:none;
}
.contact-left input[type="submit"] {
       padding: 14px 1.5em;
       font-size: 15px;
       font-weight: 400;
       background-color: black;
       color: #fff;
       border:none;
       outline: none;
}
.contact-left input[type="submit"]:hover{
	  color:#000;
	  background-color:deepskyblue;
   transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
/*--footer style start here--*/
.footer{
	background-color:#231F20;
	padding:1.5em 0em;
}
.footer-main p{
         text-align: center;
         color: #fff;
         font-size: 15px;	 
}
.footer-main p a{
	          color:deepskyblue;
}
.footer-main p a:hover{
	          color:rgba(255, 0, 0, 0.77);
	          text-decoration:none;
	           transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
#toTop {
	display:none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background-size: 35px;
	background: url(../images/bwn.png) no-repeat 0px 0px;
	background-size: 35px;
}
/*--work us start here--*/
.strip {
	background: #231F20;
	padding: 0em 0px 1em 0px;
}
.work-us {
	padding:4em 0px 9em 0px;
	position:relative;
}
.work-us-left h3 {
	font-size: 2em;
	font-weight: 400;
	color: #000;
}
.work-us-left p {
	font-size: 16px;
	font-weight: 100;
	color: #000;
	line-height: 1.8em;
	margin-top: 1.5em;
}
.work-up-right h4 {
	font-size: 1em;
	font-weight: 700;
	color: #000;
}
.work-up-right {
	text-align: center;
	padding-top: 2em;
}
span.box {
	background: url(../images/box.png)no-repeat;
	width: 12px;
	height: 10px;
	display: block;
	margin:0.5em auto;
}
span.ver-line {
	background: url(../images/ver-line.png)no-repeat;
	width: 1px;
	height: 250px;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 107%;
}
/*--work us end here--*/
/*--about start here--*/
.about {
	padding: 2em 0px;
	background: rgba(119, 119, 119, 0.16);
}
.about-main h4 {
	font-size: 1.7em;
	font-weight: 400;
	color: #000;
	text-align: center;
	margin-bottom: 2em;
}
.about-top h3 {
	font-size: 1.5em;
	font-weight: 400;
	color: #000;
	text-align: center;
	margin: 10px;
}
.about-top p {
	font-size: 15px;
	font-weight: 100;
	color: #000;
	text-align: center;
}
/*--about end here--*/
/*--contact us start here--*/
.contact-us {
	padding: 3em 0px;
}
.contact-us-top {
	text-align: center;
	padding: 0em 0px 4em 0px;
}
.contact-us-top h3 {
	color: #000;
	font-size: 1.7em;
	font-weight: 400;
}
.contact-us-top p {
	font-size: 1em;
	font-weight: 400;
	color: #999;
}
.contact-us-left input[type="text"] {
	width: 43%;
	padding: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #000;
	outline: none;
	margin: 0px 0px 10px 0px;
}
.contact-us-left textarea {
	outline: none;
	resize: none;
	font-size: 14px;
	font-weight: 400;
	width: 86.5%;
	height: 15em;
	padding: 10px;
}
.contact-us-left input[type="submit"] {
	width: 20%;
	padding: 10px;
	background: #999;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
}
.contact-us-left input[type="submit"]:hover {
	color: #fff;
	background-color:#000;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.image-sprit span {
	width: 42px;
	height: 40px;
	display: inline-block;
	background: url(../images/ftr-icons.png)no-repeat;
	margin: 10px 3px 0px 0px;
	cursor:pointer;
}
span.fa {
	background-position: 0px 0px;
	 opacity: 0.4;
      filter: alpha(opacity=40);
}
span.tw {
	background-position: -44px 0px;
	 opacity: 0.4;
      filter: alpha(opacity=40);
}
span.dri {
	background-position: -88px 0px;
	 opacity: 0.4;
      filter: alpha(opacity=40);
}
span.be {
	background-position: -131px 0px;
	 opacity: 0.4;
      filter: alpha(opacity=40);
}
span.fa:hover {
	background-position: 0px 0px;
	 opacity: 1.0;
      filter: alpha(opacity=100); 
      transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
span.tw:hover{
	background-position: -44px 0px;
	 opacity: 1.0;
      filter: alpha(opacity=100); 
      transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
span.dri:hover{
	background-position: -88px 0px;
	 opacity: 1.0;
      filter: alpha(opacity=100); 
      transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
span.be:hover{
	background-position: -131px 0px;
	 opacity: 1.0;
      filter: alpha(opacity=100); 
      transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
iframe{
	 width:100%;
	 height:400px;
	 margin-bottom:10px;
}
/*--contact us end here--*/
/* media quaries start here--*/
@media(max-width:1024px){
.img-cap {
     height: 300px;
}
.caption {
     width: 300px;
     height:300px;
}
.img-width {
     height: 300px;
}
.caption.capt {
    height: 300px;
    width: 623px;
}
.img-height {
     width: 300px;
}
.caption.car {
     height: 612px;
     width: 300px;
}
.cat-row img {
      width: 96%;
      height: 289px;
}
.caption.cat {
       height: 289px;
       width: 621px;
       margin-left: 13px;
}
.text {
      padding-top: 7em;
}
.contact-left ul {
    margin: 0px;
    padding: 0px;
}
.about-left h3 {
         font-size: 2em;
}
.contact-main h3 {
           font-size: 3em;
}
.contact-left h3 {
          font-size: 1.3em;
}
}
@media(max-width:768px){
span.menu img{
	        display:block;
	        cursor:pointer;
	        float:right;
	        padding-top:1em;
}
.clear{
	clear:both;
}
ul.res{
	  display:none;
	  padding:0px;
}
.header-right{
	      float:none;
	      width:100%;
}
.header-right ul.res li a:hover,.header-right ul.res li a.active{
	                  color:black;
}
.header-right ul.res li a{
	              display:block;
	              width:100%;
	              padding:5px;
	              color:#E75C5D;
}
.header-right ul.res li{
	                 display:block;
	                 text-align:center;
	                 margin:1px 0px;
	                 border: 1px solid white;
	                 background-color:#fff;
}
.header{
      min-height: 500px;
}
.banner-main {
          min-height: 330px;
}
.about-left h3 {
             font-size: 2em;
}
.about-left span.e {
            left: 28em;
            top:-1em;
}
.about-left span.e {
             left: 28em;
             top: 1em;
}
.img-cap {
     width: 100%;
     height: 100%;
     margin: 7px 0px;
}
.caption.capt {
     height: 100%;
     width: 96%;
     margin-top: 0px;
}
.img-width {
      height: 100%;
      width: 100%;
}
.img-height {
       width: 100%;
       height: 100%;
}
.caption {
      width: 96%;
      height: 98%;
      margin-top: 7px;
}
.text {
      padding-top: 20em;
}
.caption.car {
      height: 100%;
      width: 96%;
      margin-top: 0px;
}
.text.big {
    padding-top: 45em;
}
.text.sma {
     padding-top: 10em;
}
.cat-row img {
       width:96%;
       height: 100%;
}
.caption.cat {
       height: 100%;
       width: 96%;
       margin-top: 0px;
}
.work {
       padding: 3em 0;
}
.work-row1 {
      margin-top: 0px;
}
h1 {
    font-size: 1.8em;
    padding-top: 4em;
}
.about-right p {
    font-size: 1.3em;
}
.contact {
    padding: 1em 0px;
}
.contact-main {
            text-align: center;
}
.contact-main h3 {
             font-size: 3em;
}
.contact-left h3 {
            font-size: 1.3em;
            padding:8px 0px;
}
.contact-left h4 {
       padding: 10px 0px;
}
.about-left span.e {
          display: none;
}
.about-left {
    float: none;
    width: 100%;
    text-align: center;
}
.about-right {
     float: none;
     width: 100%;
}
.about-top {
	padding-bottom: 14px;
}
.contact-us-right {
	padding: 1em 0px;
	text-align: center;
}
span.ver-line {
	display: none;
}
.work-us {
	padding: 4em 0px 4em 0px;
}
.contact-us-left {
	text-align: center;
}
}
@media(max-width:640px){
.header{
         min-height: 430px;
}
.caption {
        width: 95%;
        height: 97.7%;
        margin-top: 7px;
}
.text {
       padding-top: 16em;
}
.caption.capt {
         height: 100%;
         width: 95%;
         margin-top: 0px;
}
.caption.car {
    height: 100%;
    width: 95%;
    margin-top: 0px;
}
.caption.cat {
    height: 100%;
    width: 96%;
}
.text.sma {
      padding-top: 7em;
}
.text.big {
      padding-top: 35em;
}
h1 {
     font-size: 1.5em;
}
.work {
    padding:3em 0;
}
.about {
    padding: 3em 0px;
}
.about-left h3 {
             font-size: 1.8em;
}	
.contact-main h3 {
            font-size: 2.5em;
}
.contact-left h3{
	     font-size:1.3em;
}
.about-left span.e {
          left: 23em;
          top: 1em;
}
}
@media(max-width:480px){
.header{
          min-height: 250px;
}
.header-right {
       padding-top: 0em;
} 
h1 {
     font-size: 1.3em;
     padding-top: 1em;
}
.caption {
        width: 94%;
        height: 97%;
}
.work {
      padding:2em 0px;
}
.text {
	padding-top: 11em;
} 
.caption.capt {
       height: 100%;
       width: 94%;
}
.text.sma {
       padding-top: 4em;
}
.text.big {
       padding-top: 25em;
}
.caption.car {
      height: 100%;
      width: 94%;
      margin-top: 0px;
}
.cat-row img {
     width: 94%;
     height: 100%;
}
.caption.cat {
     height: 100%;
     width: 94%;
}
.cat-row {
    margin: 0em;
}
.contact-left h5 {
     font-size: 1.2em;
}
.contact-main h3 {
          font-size:1.8em;
}
.contact-left h3 {
          font-size: 1.2em;
}
.contact-left h4 {
        font-size: 1.2em;
}
.banner-main {
            min-height: 250px;
}
.about {
     padding: 3em 0px;
}
.about-left h3 {
          font-size: 1.4em;
}
.about-left p {
           width: 100%;
}
.about-left p {
         font-size: 0.9em;
}
.about-left span.e {
            left: 18em;
            top: 2em;
}
.about-right {
           text-align:center;
           padding-top: 2em;
}
.about {
      padding: 1em 0px;
}
.work-us-left h3 {
	font-size: 1.5em;
}
.work-us {
	padding: 2em 0px 2em 0px;
}
.work-us-left p {
	font-size: 15px;
}
}
@media(max-width:320px){
.header {
          min-height: 200px;
          margin-bottom: 1em;
}
h1 {
            font-size:1em;
            padding-top: 2em;
}
.work {
      padding: 0em 0px;
}
.text {
      padding-top: 7em;
}
.text h3 {
      font-size:1.2em;
      font-weight: 300;
}
.text p {
     font-size: 10px;
     font-weight: 300;
}
.caption {
     width: 90%;
     height: 95%;
}
.text.sma {
       padding-top: 3em;
}
.caption.capt {
      height: 100%;
      width: 90%;
}
.caption.car {
      height: 100%;
      width: 90%;
      margin-top: 0px;
}
.text.big {
      padding-top: 15em;
}
.caption.cat {
      height: 100%;
      width: 91%;
}
.cat-row img {
     width: 91%;
     height: 100%;
}
.contact-main h3 {
              font-size: 1.3em;
              margin-top:0px;
}
.contact-left h3 {
           font-size: 1em;
}
.contact-left h4 {
              font-size: 1em;
}
.contact-left h5 {
               font-size: 1em;
}
.contact {
        padding: 1em 0px;
}
.contact-left ul li {
        padding: 2px 0px;
}
.contact span.c {
            display: none;
}
input[type="text"] {
            width: 95%;
            font-size: 11px;
}
textarea {
      width: 95%;
      height: 10em;
      font-size: 11px;
}
.banner-main {
          min-height: 150px;
}
.about {
      padding: 0em 0px;
} 
.about-left {
           float: none;
           width:100%;
           margin-top: 1em;
}
.about-right {
           float: none;
           width:100%;
}
.about-left span.e {
                display:none;
}
.about-right p {
          text-align: center;
}
.contact-left p {
         font-size: 0.6em;
         margin-bottom:5px;s
}
.contact-left li a {
          font-size: 10px;
}
input[type="submit"] {
            font-size: 10px;
}
.footer-main p {
     font-size: 11px;
}
.work-us-left h3 {
	font-size: 1.2em;
}
.work-us-left p {
	font-size: 14px;
}
.about-top p {
	font-size: 13px;
}
.about-top h3 {
	font-size: 1.2em;
}
.contact-us-top h3 {
	font-size: 1.2em;
}
.contact-us {
	padding: 1em 0px;
}
.contact-us-top {
	padding: 0em 0px 2em 0px;
}
.contact-us-left input[type="text"] {
	width: 98%;
}
.contact-us-left textarea {
	width: 97.5%;
}
.contact-us-right h3 {
	font-size: 1.2em;
	font-weight: 400;
	color: #000;
}
.contact-us-right p{
	font-size: 13px;
	color: #000;
}
.work-us {
	padding: 1em 0px 1em 0px;
}
}